@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
    box-sizing: border-box;
    text-align: center;
    background-color:#0a0a0a;
    font-family: 'Overpass', serif;
    color:  hsl(217, 12%, 63%);
}

h2 {
    color: ivory;
    font-size: 1.9rem;
    margin-bottom: 5px;
    font-weight: 700;
    padding: 5px 5px 5px 0px;
}
p {
    font-size: 15px; 
    margin-top: 7px;
}

button {
    width: 100%;
    background-color:hsl(25, 97%, 53%);
    border: thin;
    border-color: hsl(25, 97%, 53%);
    border-radius: 50px;
    margin: 30px auto 5px;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: 700;
}
button:hover {
    background-color: ivory;
    color: orangered;
}
.radio-input {
    display: none;
}
 input#one:checked ~ .option1,
 input#two:checked ~ .option2,
 input#three:checked ~ .option3,
 input#four:checked ~ .option4,
 input#five:checked ~ .option5 {
    background-color: #fb7413;
    color: white; }

    
.star {
    min-width: 7%;
    border-radius: 50%;
    padding: 5px;
    border: 7px;
}

.thanks {
    max-width: 40%;
    margin: 5px auto 8%;
    position: relative;
    left: 80px;
}

.rate-container {
    text-align: center;
}

.star-con {
          width: 2.8rem;
          height: 2.8rem;
          border-radius: 50%;
          background-color:  hsl(206, 19%, 15%);
          display: flex;
          justify-content: center;
          align-items: center;
      }
     
.rating {
    display: flex;
    justify-content: space-between;
}

.rating-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.1rem;
    height: 2.1rem;
    background-color: #252d37;
    color: #959eac;
    padding: 7px;
    border-radius: 50%;
}

.rating-btn:hover {
    background-color: #959eac;
    color: white;
    cursor: pointer; 
}
.container {
    width: 300px;
    margin: 10% auto 1%;
    position: relative;
    background-color:hsl(220, 14%, 12%);
    border-radius: 20px;
    text-align: left;
    padding: 15px 30px 20px;
    line-height: 1.2;
}

 @media only screen and (max-width: 750px) {
    .container {
        margin-top: 23%;
        width: 285px;
        
    }
} 
.selected {
    font-size: 14px;
    border-radius: 21px;
    border: 1.5px solid orangered;
    color: #fb7413;;
    padding: 9px;
    margin: 10px 8px 50px;
    background-color: hsl(228, 12%, 8%);
    letter-spacing: 1px;
}

.thanks-head {
    margin-top: 39px;
}

.hide{ 
    display: none;
}


.attribution { font-size: 11px; 
    text-align: center;
    margin: 2% auto;
}
.attribution a { color: hsl(25, 97%, 53%); }
